/* Write your code here. */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  padding: 25px;
  font-family: "Roboto";
  background-color: yellow;
}
.heading {
  color: #0f172a;
  font-size: 25px;
}
.notifications-container {
  margin: 20px;
}
.notification-container {
  height: 30px;
  margin: 15px;
  width: 250px;
}
.primary-container {
  background-color: #0b69ff;
}
.image {
  height: 30px;
  width: 30px;
}
.success-container {
  background-color: #2dca73;
}
.warning-container {
  background-color: #ffb800;
}
.error-container {
  background-color: #ff0b37;
}
.message {
  font-size: 15px;
  color: #ffffff;
}
